@model CnWeb_FastFood.Models.EF.Bill

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BillStatu.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillStatu.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subtotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subtotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.creatDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creatDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.discountCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discountCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

    </dl>
    @Html.Action("IndexBillDetail", new { @id = Model.id_bill })
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_bill }) |
    @Html.ActionLink("Back to List", "Index")
</p>
