
@model PagedList.IPagedList<CnWeb_FastFood.Models.EF.Customer>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var pageSize = 10;
}

@section header
{
    Danh sách khách hàng
}


<button type="button" class="btn btn-warning btn-admin" style="margin-bottom:10px">
    <i class="fa fa-plus-square"></i> &nbsp;
    @Html.ActionLink("Thêm mới", "Create")
</button>

@using (Html.BeginForm("Index", "Customers", FormMethod.Get, new { id = "form1" }))
{
    <div class="col-sm-pull-12">
        <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
            <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap box-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="dataTables_length" id="example1_length">
                            <label>
                                Show
                                @Html.DropDownList("pageSize", (IEnumerable<SelectListItem>)ViewBag.pageSize, new { @class = "form-control input-sm" })
                            </label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="pull-right">
            <br />
            <i>
                Trang
                @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) trên @Model.PageCount<br />
                <h4>
                    Xem @Model.Count    @String.Format(" trên {0} ", ViewBag.Count)
                </h4>
                
            </i>         
        </div>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = ViewBag.psize }))

    </div>
}
@*<div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap box-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="dataTables_length" id="example1_length">
                    <label>
                        Show
                        <select id="example1" name="example1_length" aria-controls="example1" class="form-control input-sm">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select> entries
                    </label>
                </div>
            </div>
        </div>
    </div>*@
<table id="example1" class="table table-bordered table-striped">
    <tr>
        <th>
            Tên khách hàng
        </th>
        <th>
            Điện thoại
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Tên đăng nhập
        </th>
        <th>
            Mật khẩu
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="row_@item.id_customer">

            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id_customer }) |
                @Html.ActionLink("Details", "Details", new { id = item.id_customer }) |
                @Ajax.ActionLink("Delete","Delete", new { @id = item.id_customer }, new AjaxOptions
                                      {   Confirm =" Bạn có muốn xóa bản ghi này?",
                                          OnComplete = "$('#row_"+ @item.id_customer + "').remove()",
                                          HttpMethod = "Delete"
                                      })
            </td>
        </tr>
    }

</table>
@using (Html.BeginForm("Index", "Customers", FormMethod.Get, new { id = "form1" }))
{
    <div class="col-sm-pull-12">        
        <div class="pull-right">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = ViewBag.psize }))
        </div>
       

    </div>
}
@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>

        $("#pageSize").change(function () {
            $("#form1").submit();
        });


    </script>>
}


