@model IEnumerable<CnWeb_FastFood.Models.EF.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section header{
    Thể loại
}


<button type="button" class="btn btn-warning" style="margin-bottom:10px">
    <i class="fa fa-plus-square"></i> &nbsp;
    @Html.ActionLink("Thêm mới", "Create", "Category")
</button>

<table id="example1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Mã thể loại</th>
            <th>Tên hể loại</th>
            <th>Chức năng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id_category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    <i class="fa fa-info-circle"></i> &nbsp;
                    @Html.ActionLink("Xem", "Details", new { id = item.id_category }) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-edit"></i> &nbsp;
                    @Html.ActionLink("Sửa", "Edit", new { id = item.id_category }) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-trash"></i> &nbsp;
                    @Html.ActionLink("Xóa", "Delete", new { id = item.id_category }, new { onclick = "return confirm('Chắc chắn muốn xoá?');" })
                </td>
            </tr>
        }
    </tbody>
</table>

