<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>_MainLayout</title>

    @RenderSection("Styles", required: false)
</head>

<body>
    @Html.Partial("_MainLayoutHeader")

    @RenderBody()

    @Html.Partial("_MainLayoutFooter")


    <!-- Footer Section End -->
    <!-- Js Plugins -->

    @RenderSection("Scripts", required: false)
   
</body>

</html>
